*{
    margin: 0px;
 
}
h1{
    color:#D6BD98;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2% 37.3% 2% 37.3% ;
    align-items: center;
    background-color: #40534C;
}
body{
    background-color: #b0bdb2;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}



.buttons{
    display: flex;
    gap: 20px;
}
button{
    color:#D6BD98;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background-color:#061515;
    width: 100px;
    height: 50px;
}
button:hover{
   color: #1A3636;
   background-color:#D6BD98;
}
.container{

    display: grid;
    height: 480px;
    width: 480px; 
    
}
footer{

    display: flex;
   
    gap: 20px;
    padding: 2% 41.1% 2% 41.1% ;
    align-items: center;
    background-color: #40534C;

}
p{
    font-size: x-large;
    font-weight: bold;
    color: #1A3636;
}
.pixel{

    border: none;
    
    background-color:white;
    padding:1px;
}
